**/bin
**/obj
**/node_modules
**/wwwroot
**/Properties/launchSettings.json
*.user
*.suo
.vs/
.vscode/
.idea/
*.sln.DotSettings
*.userprefs
*.log
TestResults/
coverage/
*.db
*.sqlite
*.bak
*.tmp
*.swp
.env