**/bin
**/obj
**/node_modules
**/wwwroot  # Si vous avez des fichiers statiques, excluez-les *aussi*
**/Properties/launchSettings.json
*.user
*.suo
.vs/
.vscode/
.idea/
*.sln.DotSettings
*.userprefs
*.log
TestResults/
coverage/
*.db
*.sqlite
*.bak
*.tmp
*.swp
.env