[Bb]in/
[Oo]bj/
*.user
*.suo
*.vs/
.vscode/
.idea/
*.sln.DotSettings
*.userprefs
*.log
TestResults/
coverage/
*.db
*.sqlite
*.bak
*.tmp
*.swp
.env
**/node_modules
**/wwwroot/
**/Properties/launchSettings.json