**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/node_modules
**/npm-debug.log
**/bin
**/obj
**/wwwroot/
**/Properties/launchSettings.json
*.user
*.suo
.vs/
.vscode/
.idea/
*.sln.DotSettings
*.userprefs
*.log
TestResults/
coverage/
*.db
*.sqlite
*.bak
*.tmp
*.swp